# Download dataset
kagglehub>=0.2.5

# ML / app
numpy>=1.26
pillow>=10.0
gradio==4.44.1
huggingface_hub<0.25


# TensorFlow (choose appropriate wheel automatically)
tensorflow>=2.14 ; platform_system != "Darwin" or platform_machine != "arm64"
tensorflow-macos>=2.14 ; platform_system == "Darwin" and platform_machine == "arm64"
